<html>
    <head>
        {% block head %}
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">

        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <!-- To be used
        <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
        <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
        -->

        <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div id="content">
            {% block content %}
            {% endblock %}
        </div>

        {% block homepage %}
        <br>
        <a href="{{url_for('index', bid=bid) }}">
            <button class="home" type="button">Back to Homepage</button>
        </a>
        {% endblock %}
        
    </body>
</html>