
{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
    
    <h1>OnlineLearner</h1>

    <h2>Meine Kurse</h2>

    <div class="mbox-kurse">
        
        {% for kurs in mkurse%}

        <div class="meine-kurse">

            <form action="{{url_for('view_course', bid=bid, kid=kurs[3])}}" method="POST">

                <p>{{ form.course_name_sub(value=kurs[0], class="home") }}</p>

                <p class="home">Ersteller: {{ kurs[1] }}</p>

                <p class="home">Freie Plätze: {{ kurs[2] }}</p>

                <!--<p>{{ kurs[3] }}</p>-->

                <p>{{ form.course_name(value=kurs[0], class="home") }}</p>

                <p>{{ form.creator_name(value=kurs[1]) }}</p>

                <p>{{ form.spaces(value=kurs[2]) }}</p>

                <p>{{ form.course_id(value=kurs[3]) }}</p>

                <p>{{ form.creator_id(value=kurs[4]) }}</p>

                <p>{{ form.desc(value=kurs[5]) }}</p>

                <p>{{ form.key(value=kurs[6]) }}</p>

            </form>

        </div>

        {% endfor %}

    </div>

        <br>
        <a href="{{url_for('new_course', bid=bid) }}">
            <button class="erstellen" type="button">Kurs Erstellen</button>
        </a>


    <h2>Verfügbare Kurse</h2>

    <div class="vbox-kurse">
    
        {% for kurs in vkurse%}

        <div class="verf_kurse">

            <form action="{{url_for('view_course', bid=bid, kid=kurs[3])}}" method="POST">

                <p>{{ form.course_name_sub(value=kurs[0], class="home") }}</p>
                
                <p class="home">Ersteller: {{ kurs[1] }}</p>
                
                <p class="home">Freie Plätze: {{ kurs[2] }}</p>

                <p>{{ form.course_name(value=kurs[0]) }}</p>
                
                <p>{{ form.creator_name(value=kurs[1]) }}</p>
                
                <p>{{ form.spaces(value=kurs[2]) }}</p>
                
                <p>{{ form.course_id(value=kurs[3]) }}</p>
                
                <p>{{ form.creator_id(value=kurs[4]) }}</p>
                
                <p>{{ form.desc(value=kurs[5]) }}</p>
                
                <p>{{ form.key(value=kurs[6]) }}</p>

            </form>

        </div>

        {% endfor %}

    </div>

{% endblock %}

{% block homepage %}{% endblock %}