
{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
    {{ super() }}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

    <form class="new_course_form" name="new_course" action="" method="POST">

        {{ form.hidden_tag() }}

        <p>
            {{ form.name.label }}  {{ form.name(class="new_course", size=50) }} <br><br>

            {{ form.key.label }}  {{ form.key(class="new_course") }} <br><br>

            {{ form.spaces.label }}  {{ form.spaces(class="new_course") }} <br><br>

            {{ form.desc.label }}  {{ form.desc(cols="30", rows="10", class="new_course") }} <br><br>

            {{ form.submit(class="erstellen") }}

        </p>
        
    </form>
    
{% endblock %}