<html>
    <head>
        <title>
            Kurs Details
        </title>
    </head>

    <style type="text/css">
        /*.column{
            float: right;
            width: 33.33%;
        }*/
        .columnh{
            float: center;
            width: 33.33%;
        }
    </style>

    <body>
        <p>
            Informationen
        </p>

        {% if not registered %}
        <div class="info_reg">
            {% if schluessel %}
            <form action="{{url_for('new_enroll', bid=bid)}}" method='POST'>
            {% else %}
            <form action="{{url_for('index', bid=bid)}}" method='POST'>
            {% endif %}

                <p>{{ kname }}</p>
                <input type="hidden" name="kname" value="{{ kname }}"/>

                <p>Ersteller: {{ ersteller }}</p>
                <input type="hidden" name="ersteller" value="{{ ersteller }}"/>

                <p>{{ desc }}</p>

                <p>Anz. freier Plätze: {{ fp }}</p>

                <input type="submit" class="write" value="Einschreiben" />
                <input type="hidden" name="register" value="True" />
                
            </form>
        </div>
        {% elif owner|int() == bid|int() or registered %}

        <div class="info_owner">
            <form action="{{url_for('index', bid=bid)}}" method='POST'>
                <p>{{ kname }}</p>
                <input type="hidden" name="kname" value="{{ kname }}" />
            
                <p>Ersteller: {{ ersteller }}</p>
                <input type="hidden" name="ersteller" value="{{ ersteller }}" />
            
                <p>{{ desc }}</p>
            
                <p>Anz. freier Plätze: {{ fp }}</p>
            
                <input type="submit" class="delete" value="Kurs Löschen" />
                <input type="hidden" name="delete" value="True" />
            </form



            <h1>Liste der Aufgaben</h1>

                <table style="width: 100%">

                    <tr>
                        <th class="columnh">Aufgabe</th>
                        <th class="columnh">Meine Abgabe</th>
                        <th class="columnh">Bewertungsnote</th>
                    </tr>
                        
                    <tr>
                        {% for exercise in exercises %}

                        <form action="{{url_for('new_assignment', bid=bid)}}" method="POST">

                            <div class="column">
                            <td><input type="submit" class="posting" name="aname" value="{% if exercise[1] %}{{ exercise[1] }}{% endif %}"></input></td>
                            <input type="hidden" name="ex_name" value="{{ exercise[1] }}"/>

                            <input type="hidden" name="kname" value="{{ kname }}" />

                            <input type="hidden" name="anummer" value="{{ exercise[0] }}" />
                            <input type="hidden" name="kid" value="{{ kid }}" />

                            </div>

                            <div class="column">
                            <td>{% if exercise[2] %}{{ exercise[2] }}{% else %} Keine Abgabe{% endif %}</td>
                            <!--<input type="hidden" name="desc" value="{{ exercise[2] }}"/>-->
                            </div>

                            <div class="column">
                            <td>{% if exercise[3] %}{{ exercise[3] }}{% else %} Noch keine Bewertung{% endif %}</td>
                            </div>
                                
                        </form>

                    </tr>
                        {% endfor %}
                </table>
        </div>

        {% endif %}
    </body>
</html>