{% extends "base.html" %}

{% block title %} {{ title }} {% endblock %}

{% block head %}
{{ super() }}
{% endblock %}

{% block content %}

    <h1>{{ title }}</h1>

        <h2>Informationen</h2>

        {% if not registered %}

        <div class="not_reg">

            {% if kurs[6] %} <!--schluessel-->

            <form action="{{url_for('new_enroll', bid=bid, kid=kurs[3])}}" method='POST'>

            {% else %}

            <form action="" method='POST'>

            {% endif %}

                <p>{{ kurs[0] }}</p>

                <p>Ersteller: {{ kurs[1] }}</p>

                <p>{{ kurs[5] }}</p>

                <p>Anz. freier Plätze: {{ kurs[2] }}</p>

                <!--Submit button-->
                <p>{{ form.submit(value="Einschreiben") }}</p>

                <p class="hidden_values">

                    {{ form.course_name(value=kurs[0]) }}

                    {{ form.creator_name(value=kurs[1]) }}
                
                    {{ form.spaces(value=kurs[2]) }}
                
                    {{ form.course_id(value=kurs[3]) }}
                
                    {{ form.creator_id(value=kurs[4]) }}
                
                    {{ form.desc(value=kurs[5]) }}
                
                    {{ form.key(value=kurs[6]) }}

                    {{ form.status(value="register") }} <!--Stores the state-->

                </p>
                
            </form>

        </div>

        {% elif kurs[4]|int() == bid|int() or registered %} <!--ersteller_id-->

        <div class="reg">
            {% if kurs[4]|int() == bid|int() %}
            <form action="{{ url_for('delete', bid=bid, kid=kid) }}" method='POST'>
            {% else %}
            <form action="{{ url_for('delete', bid=bid, kid=kid) }}" method='POST'>
            {% endif %}

                <p>{{ kurs[0] }}</p>
                
                <p>Ersteller: {{ kurs[1] }}</p>
                
                <p>{{ kurs[5] }}</p>
                
                <p>Anz. freier Plätze: {{ kurs[2] }}</p>

                <p class="hidden_values">

                    <!--Submit button-->
                    <p>{{ form.submit(value="Löschen") }}</p>

                    {{ form.course_name(value=kurs[0]) }}
        
                    {{ form.creator_name(value=kurs[1]) }}
                
                    {{ form.spaces(value=kurs[2]) }}
                
                    {{ form.course_id(value=kurs[3]) }}
                
                    {{ form.creator_id(value=kurs[4]) }}
                
                    {{ form.desc(value=kurs[5]) }}
                
                    {{ form.key(value=kurs[6]) }}

                    {{ form.status(value="delete")}} <!--Stores the state-->

                </p>

            </form>

            <hr>

            <h1>Liste der Aufgaben</h1>

                <table style="width: 100%">

                    <tr>
                        <th class="columnh">Aufgabe</th>
                        <th class="columnh">Meine Abgabe</th>
                        <th class="columnh">Bewertungsnote</th>
                    </tr>
                        
                    <!--{% if exercises %}-->


                    <tr>
                        {% for exercise in exercises %}
                        
                        {% if exercise[2] %} <!--Es gibt eine Abgabe-->
                        <form name="resubmission" action="" method="POST">
                        {% else %}
                        <form action="{{url_for('new_assignment', bid=bid)}}" method="POST">
                        {% endif %}

                            <div class="column">

                            <td>{{ form_ex.ex_name(value=exercise[1]) }}

                                {{ form_ex.ex_name_hidden(value=exercise[1]) }}

                                {{ form_ex.course_name(value=kurs[0])}}
                                
                                {{ form_ex.ex_id(value=exercise[0] )}}
                            </td>

                            </div>

                            <div class="column">

                                <td>{% if exercise[2] %}{{ exercise[2] }}{% else %} Keine Abgabe {% endif %}</td>
                            
                            </div>

                            <div class="column">

                                <td>{% if exercise[3] %}{{ exercise[3] }}{% else %} Noch keine Bewertung{% endif %}</td>
                            
                            </div>

                            <p>

                                {% if exercise[2] %}{{ form_ex.submission(value=exercise[2]) }}{% endif %}

                                {% if exercise[3] %}{{ form_ex.score(value=exercise[3])}}{% endif %}

                                {{ form_ex.course_id(value=kid)}}

                            </p>
                                
                        </form>

                    </tr>

                        {% endfor %}
                    
                    <!--{% endif %}-->

                </table>
        </div>

        {% endif %}

{% endblock %}